{% extends "base.html" %}
{% block title %}sorepy{% endblock %}
{% block content %}
<div class="main">
	<table>
		<tr>
			<th class="table_muscle">muscle</th>
			<th class="table_ye">ye</th>
			<th class="table_to">to</th>
			<th class="table_desc">description</th>
		</tr>
		{% for muscle in current_muscles %}
			<tr>
				<td class="table_muscle">{{ muscle.name }}</td>
				<td class="table_ye">
					{% if muscle.is_work(yesterday) and muscle.is_sore(yesterday) %}
						sw
					{% elif muscle.is_work(yesterday) %}
						w
					{% elif muscle.is_sore(yesterday) %}
						s
					{% else %}
						o
					{% endif %}
				</td>
				<td class="table_to">
					{% if muscle.is_work(today) and muscle.is_sore(today) %}
						sw
					{% elif muscle.is_work(today) %}
						w
					{% elif muscle.is_sore(today) %}
						s
					{% else %}
						o
					{% endif %}
				</td>
				<td class="table_desc">{{ muscle.desc }}</td>
			</tr>
		{% endfor %}		
	</table>
<a href="/input" id="input_btn"><button type="button">input</button></a>
<br>
<a href="/history" id="input_btn"><button type="button">history</button></a>
</div>
{% endblock %}
