{% extends "base.html" %}
{% block title %}sorepy - input{% endblock %}
{% block content %}
	<p>input</p>
	<form action="" method="get">
		<input type="date" class="submit" name="date" value="{{date}}" onchange="this.form.submit();">
	</form>
	<form action="" method="post">
		<table>
			<tbody>
				<tr>
					<td class="table_muscle">muscle</td>
					<td class="table_ye">sore</td>
					<td class="table_to">work</td>
				</tr>
				{% for muscle in current_muscles %}
					<tr>
						<td class="table_muscle">
							<label for="{{muscle.name}}">{{ muscle.name }}</label>
						</td>
						<td class="table_ye">
							<input type="checkbox" id="sore-{{muscle.name}}" name="sore-{{muscle.name}}" value="sore-{{muscle.name}}" {% if
								muscle.is_sore(date)%} checked {% endif %}>
						</td>
						<td class="table_to">
							<input type="checkbox" id="work-{{muscle.name}}" name="work-{{muscle.name}}" value="work-{{muscle.name}}" {% if
								muscle.is_work(date)%} checked {% endif %}>
							<br>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<input class="submit" type="submit" value="submit">
	</form>
	<a href="/"><button type="button">back</button></a>
{% endblock %}
